{% extends "front_layout.html" %} {% block body %}

<div style="margin-top:170px; text-align:center">
    <h1>Command-line:</h1>
    <form action="{{ url_for('command') }}" method="post">    
        <input type="text" name="command" id="command" style="width:300px; margin:0 auto">
        <br>
        <button type="submit" style="width:200px;font-size:20px; margin-bottom:30px">Submit</button>
    </form>
    <br>
    <hr style="width:1000px; border:solid 3px red;margin:0 auto" />
    <p style="margin-top:10px;margin-bottom:10px;font-size:30px;color:red;font-weight:bold">RESULT</p>
    <div id="result" style="width:1000px;margin:0 auto;font-size:20px;color:yellow;text-align:left">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashresult>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

</div>

{% endblock %}