<!DOCTYPE html>
<html>
<head>
	
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<title>Home Automation</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/clock.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/template_style.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery1.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/clock.js') }}"></script>
	
</head>
<body class="templatemo_padaut_bg">
	<div id="main_container">
		<div class="container" id="services">
			<div class="row col-wrap">			 
				<div id="left_container" class="col col-md-3 col-sm-12">
					<div class="templatemo_logo">
						<a  href="index.html"><img src="{{ url_for('static', filename='images/templatemo_logo.png') }}" alt="Botany Theme"></a>
					</div>
					<nav id="main_nav">
			            <ul class="nav">
			              <li class="active" style="font-size:1.5em"><a href="{{ url_for('index') }}">Introduction</a></li>
			              <li><a href="{{ url_for('Patrol_Monitor') }}" style="font-size:1.5em">Patrol Monitor</a></li>
			              <li><a href="{{ url_for('Sensor_Graph') }}" style="font-size:1.5em">Sensor Graph</a></li>
			              <li><a href="{{ url_for('Home_Automation') }}" style="font-size:1.5em">Home Automation</a></li>
			              <li><a href="{{ url_for('Amaze_Me') }}" style="font-size:1.5em">Amaze Me</a></li>
			            </ul>
					</nav> <!-- nav -->	
				</div>			  	
				<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row">
                    	<div class="col col-md-12">
                    		<!-- <h2>Portfol<a href="#"  class="right_container_title"  >i</a>o</h2> -->
                    		<h2>Home Automation</h2>
						<p style="visibility:hidden">
							##########################################################################################################
						</p>
                    	</div>
                    </div>

                    <div style="margin-left:15%">
						<iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&color=%23C00000&bdc=%23000000&icon=3&py=beijing&num=5"></iframe>
					</div>
                    
					<div class="clock">

					<div id="Date">2016 一月 1 星期五</div>
	
					<ul>
						<li id="hours">00</li>
						<li id="point">:</li>
						<li id="min">00</li>
						<li id="point">:</li>
						<li id="sec">00</li>
					</ul>

					</div>



				</div>
			</div>
			<footer class="row credit">
				<div class="col col-md-12">
					<div id="templatemo_footer">
						Copyright © 世界末日 <a href="#">Jail Studio</a> | Collected by <a href="http://541197941.qzone.qq.com" title="Jailman" target="_blank">Jailman</a> | More info <a href="http://541197941.qzone.qq.com" target="_blank" title="凌空の野望">凌空の野望</a>
					</div>
				</div>
			</footer>
		</div>		
	</div>
</body>
</html>