<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>Patrol Monitor</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/patrol.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template_style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/camerabutton.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery1.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/servo_directions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>

</head>

<body class="templatemo_flower_2">
    <div id="main_container">
        <div class="container" id="about">
            <div class="row col-wrap">
                <div id="left_container" class="col col-md-3 col-sm-12">
                    <div class="templatemo_logo">
                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/templatemo_logo.png') }}" alt="Botany Theme"></a>
                    </div>
                    <nav id="main_nav">
                        <ul class="nav">
                            <li><a href="{{ url_for('index') }}" style="font-size:1.5em">Introduction</a></li>
                            <li class="active"><a href="{{ url_for('Patrol_Monitor') }}" style="font-size:1.5em">Patrol Monitor</a></li>
                            <li><a href="{{ url_for('Sensor_Graph') }}" style="font-size:1.5em">Sensor Graph</a></li>
                            <li><a href="{{ url_for('Home_Automation') }}" style="font-size:1.5em">Home Automation</a></li>
                            <li><a href="{{ url_for('Amaze_Me') }}" style="font-size:1.5em">Amaze Me</a></li>
                        </ul>
                    </nav>
                    <!-- nav -->

                </div>
                <div id="right_container" class="col col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col col-md-12">
                            <!-- <h2>About Botany Them<a href="#" title="#" class="right_container_title"  target="_blank">e</a></h2> -->
                            <h2>Patrol Monitor</h2>
                             <p style="visibility:hidden">
                                ##########################################################################################################
                            </p> 
                        </div>
                    </div>
                    <div class="monitorbox">
                        <div id="monitor">
                            <p style="font-size: 2em;font-family: Times New Roman;color: yellowgreen">Camera Monitor</p>
                            <span class="xform-p"><img id="streamimage" class="xform" src="http://172.22.237.8:8080/?action=stream" style="margin-left:35px;transform:rotate(180deg)" /></span>
                        </div>
                        <div id="controlbox">
                            <div id="switchbtn">
                                <p style="font-size: 2em;font-family: Times New Roman;color: yellowgreen">CameraControl</p>
                                <!-- <img id="myimage" onclick="changeImage()" src="{{ url_for('static', filename='btimg/off.png') }}" width="180" height="180"> -->
                                <div style="width:200px;height:200px;text-align:center;margin-left:10px;margin-top:15px">
                                    <a id="up" class="myButton" style="margin-bottom:5px">↑</a>
                                    <br>
                                    <a id="left" class="myButton">←</a>
                                    <a id="reset" class="myButton">Rst</a>
                                    <a id="right" class="myButton">→</a>
                                    <br>
                                    <a id="down" class="myButton" style="margin-top:5px">↓</a>
                                    <!-- <hr>
								horizontal:
								<p id="hrz">number</p><br>
								vertical:
								<p id="vtc">number</p><br> -->
                                </div>
                            </div>
                            <div id="controlbtn">
                                <p style="font-size: 2em;font-family: Times New Roman;color: yellowgreen">WheelControl</p>
                                <div style="text-align:center">
                                    <input type="button" class="btn" value="↑" style="margin-right:0px;margin-top:10px" onmousedown="ExecGet('/cgi-bin/forward.py')" onmouseup="ExecGet('/cgi-bin/stop.py')" />
                                    <br>
                                    <input type="button" class="btn" value="←" style="margin-right:0px;margin-top:5px" onmousedown="ExecGet('/cgi-bin/left.py')" onmouseup="ExecGet('/cgi-bin/stop.py')" />
                                    <input type="button" class="btn" value="定" style="margin-right:0px;margin-top:5px" onclick="ExecGet('/cgi-bin/stop.py')" />
                                    <input type="button" class="btn" value="→" style="margin-right:0px;margin-top:5px" onmousedown="ExecGet('/cgi-bin/right.py')" onmouseup="ExecGet('/cgi-bin/stop.py')" />
                                    <br>
                                    <input type="button" class="btn" value="↓" style="margin-right:0px;margin-top:5px" onmousedown="ExecGet('/cgi-bin/backward.py')" onmouseup="ExecGet('/cgi-bin/stop.py')" />
                                </div>
                            </div>
                        </div>
                        <div class="panelbox">
                            <p style="font-size: 2em;font-family: Times New Roman;color: yellowgreen">Panel</p>
                            <img id="power" onclick="changeImage()" width="50" height="50">   
                        </div>
                    </div>
                </div>
            </div>
            <footer class="row credit">
                <div class="col col-md-12">
                    <div id="templatemo_footer">
                        Copyright © 世界末日 <a href="#">Jail Studio</a> | Collected by <a href="http://541197941.qzone.qq.com" title="Jailman" target="_blank">Jailman</a> | More info <a href="http://541197941.qzone.qq.com" target="_blank" title="凌空の野望">凌空の野望</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>